*{
  box-sizing: border-box;
}
body{
  margin: 0px;
  background: black;
}
.wrapper{
  text-align: center;
  font-family: sans-serif;
  max-width: 400px;
  margin: auto;
}

.wrapper p{
  padding: 30px 10px;
  margin-bottom: 30px;
  background-color: #00838f;
  color: #f4f4f4;
  font-size: 3em;
  border-radius:50px
}
.wrapper p:nth-child(1){
  background-color: silver;
}
.wrapper p:nth-child(2){
  background-color: gold;
}
.wrapper p:nth-child(3){
  background-color:  blue;
}
.wrapper p:nth-child(4){
  background-color: yellow;
}
